<div class="side_bar" id="right_bar"> 
  <div class="page_searchbox">
    <webshop:search-form form="POST"> 
      <table> 
        <tr> 
          <td><search:search-string class="formfield searchfield"/></td> 
          <td><search:submit class="formbutton"/></td> 
        </tr> 
      </table> 
    </webshop:search-form> 
    <form method="post" action="http://nieuwsbrief.netrex.eu/netrexmail/form.php?form=23" id="frmSS23" onSubmit="return CheckForm23(this);"> 
      <table style="margin-top:5px;"> 
        <tr> 
          <td><input type="text" class="formfield newsfield" value="Nieuwsbrief" name="email" onclick="javascript:this.value=(this.value == 'Nieuwsbrief' ? '' : this.value);" /></td> 
          <td><input type="submit" class="formbutton newsbutton" value="Aanmelden" /></td> 
        </tr> 
      </table> 
    </form> 
  </div>
    <cms:locales><list:plural>
  <hr/> 
  <div class="side_bar_panel loginpanel"> 
  <h1>Choose Language</h1>
  <list:repeat><locale:select-link><locale:short/> </locale:select-link></list:repeat>
  </div>
  </list:plural></cms:locales>		
  
   <hr/> 
    <webshop:current-user>
    <object:none>
  <div class="side_bar_panel loginpanel"> 
    <h1>Login</h1>
    <webshop:login-form>
      <table> 
        <tr><td><form:email-field class="formfield emailfield"/></td></tr>
        <tr><td><form:password-field class="formfield passwordfield"/>
        <form:login-button class="formbutton"/></td>
        </tr>
        <form:failure> 
        <tr><td><span class="error">Invalid user name or password</span></td></tr>
        <tr><td><form:forgot-password-link>Forgot password? &gt;&gt;</form:forgot-password-link></td></tr>
        </form:failure>
      </table> 
    </webshop:login-form>
     <a href="/register">Register as new customer &gt;&gt;</a>
  </div> 
 
  <hr/> 
    </object:none>
    </webshop:current-user>
  <div class="side_bar_panel"> 
    <h1>Order status</h1>
    <webshop:shopping-cart>
		  <div class="order_status" >
		    <div><shopping-cart:link><b><lift:loc>Einkaufswagen</lift:loc> &gt;&gt;</b></shopping-cart:link></div>
		    <div><shopping-cart:items><list:once><list:size/></list:once></shopping-cart:items>&#160;<lift:loc>articles in shopping cart</lift:loc></div> 
		    <div><shopping-cart:clear><lift:loc>Loschen</lift:loc>&gt;&gt;</shopping-cart:clear></div>
		  </div>
    </webshop:shopping-cart>
    <div id="order_status"><liftembed what="order_status" /></div>
  </div> 
  <div class="page_menu_footer"></div> 
</div>
