
/** BASIC */

html, body {
	height: 100%;
}

/** HEADER */

#header {
	margin: 0px auto;
}

/** LOGO */

#logo {
	float: left;
	width: 400px;
	height: 85px;
	background: url(images/homepage02.gif) no-repeat left top;
}

#logo h1 {
	text-indent: -9999em;
}

/** MENU */

#menu {
	float: right;
}

/** FORMS */

#forms {
	margin: 0px auto;
}

/** SEARCH */

#search {
	float: left;
}

/** CURRENCY */

#currency {
	float: left;
}

/** CART ITEMS */

#cart-items {
	float: left;
}

/** CATEGORIES */

#categories {
	margin: 0px auto;
}

/** BANNER */

#banner {
	margin: 0px auto;
}

/** PAGE */

#page {
	margin: 0px auto;
}

/** CONTENT */

#content {
	float: right;
}

/** SIDEBAR */

#sidebar {
	float: left;
}

/** FOOTER */

#footer {
	margin: 0px auto;
}

/** PAGING */

.paging {
	float:right;
	padding-right: 8px;
}

 .paging-previous.inactive {
	display: none;
}


.paging .inactive {
	color: grey;
}

.paging .active {
	color: white;
}

.paging .paging-nr {
	padding-left: 3px;
	padding-right: 3px;
}

.paging .current {
	color: black
}