
/** BASIC */

html, body {
	height: 100%;
}

/** HEADER */

#header {
	margin: 0px auto;
}

/** LOGO */

#logo {
	float: left;
	width: 350px;
	height: 55px;
	margin-top: 8px;
	margin-left: 16px;
	background: url(images/logo_03.png) no-repeat left top;
	z-index: 100;
	position: absolute;
}

#logo h1 {
	text-indent: -9999em;
}

/** MENU */

#menu {
	float: right;
}

/** FORMS */

#forms {
	margin: 0px auto;
}

/** SEARCH */

#search {
	float: left;
}

/** CURRENCY */

#currency {
	float: left;
}

/** CART ITEMS */

#cart-items {
	float: left;
}

/** CATEGORIES */

#categories {
	margin: 0px auto;
}

/** BANNER */

#banner {
	margin: 0px auto;
}

/** PAGE */

#page {
	margin: 0px auto;
}

/** CONTENT */

#content {
	float: right;
}

/** SIDEBAR */

#sidebar {
	float: left;
}

/** FOOTER */

#footer {
	margin: 0px auto;
	clear: both;
}

/** FILTERS */
#filters a {
	display: block;
	padding-top: 4px;
}

