website.name=Demo Web Shop
website.server=demo.catalogxs.com
website.path=/shop
website.parents=classpath:claro.cms.webshop.website,classpath:claro.cms.catalog.website,classpath:claro.cms.documentation
website.components=claro.cms.webshop.WebshopComponent,claro.cms.catalog.CatalogComponent
website.locales=en,de,es

mail.smtp.from=catalogxs@gmail.com
mail.smtp.host=smtp.gmail.com
mail.smtp.user=catalogxs@gmail.com
mail.smtp.password=tpacoh18

entitymanager.eclipselink.cache.shared.default=false
entitymanager.eclipselink.ddl-generation=drop-and-create-tables
entitymanager.eclipselink.ddl-generation.output-mode=database
