<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
    <servlet>
      <servlet-name>CityKidsServlet</servlet-name>
      <servlet-class>citykids.server.CityKidsServlet</servlet-class>
      <init-param>
        <param-name>javax.persistence.jdbc.driver</param-name>
        <param-value>org.postgresql.Driver</param-value>
      </init-param>
      <init-param>
        <param-name>javax.persistence.jdbc.url</param-name>
        <param-value>jdbc:postgresql:postgres</param-value>
      </init-param>
      <init-param>
        <param-name>javax.persistence.jdbc.user</param-name>
        <param-value>postgres</param-value>
      </init-param>
      <init-param>
        <param-name>javax.persistence.jdbc.password</param-name>
        <param-value>Tpacoh18</param-value>
      </init-param>
    </servlet>
    <servlet-mapping>
      <servlet-name>CityKidsServlet</servlet-name>
      <url-pattern>/citykids/command</url-pattern>
    </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>citykids.html</welcome-file>
  </welcome-file-list>

</web-app>
