<table>
<tr class="heading"><td colspan="2"><h2>Login data</h2></td></tr>
<form:email-field>
  <tr><td>Email address</td><td><field:field /></td>
  <field:error><td><span class="error"><error:message/></span></td></field:error></tr>
</form:email-field>
<form:password-field>
  <tr><td>Password</td><td><field:field /></td>
  <field:error><td><span class="error"><error:message/></span></td></field:error></tr>
</form:password-field>
<form:repeat-password-field>
  <tr><td>Repeat password</td><td><field:field /></td>
  <field:error><td><span class="error"><error:message/></span></td></field:error></tr>
</form:repeat-password-field>

<tr class="heading"><td colspan="2"><h2>Account data</h2></td></tr>
<form:name-field><template:include template="templates/form_field">Naam</template:include></form:name-field>
<form:name-field>
  <tr><td>Name</td><td><field:field /></td><field:error>
  <td><span class="error"><error:message/></span></td></field:error></tr>
</form:name-field>
<form:address-form>
<form:address1-field>
  <tr><td>Address</td><td><field:field /></td><field:error>
  <td><span class="error"><error:message/></span></td></field:error></tr>
</form:address1-field>
<form:address2-field>
  <tr><td></td><td><field:field /></td><field:error>
  <td><span class="error"><error:message/></span></td></field:error></tr>
</form:address2-field>
<form:postal-code-field>
  <tr><td>Postal Code</td><td><field:field /></td><field:error>
  <td><span class="error"><error:message/></span></td></field:error></tr>
</form:postal-code-field>
<form:town-field>
  <tr><td>Town</td><td><field:field /></td><field:error>
  <td><span class="error"><error:message/></span></td></field:error></tr>
</form:town-field>
<form:country-field>
  <tr><td>Country</td><td><field:field /></td><field:error>
  <td><span class="error"><error:message/></span></td></field:error></tr>
</form:country-field>
</form:address-form>
<form:phone-field>
  <tr><td>Telephone</td><td><field:field /></td><field:error>
  <td><span class="error"><error:message/></span></td></field:error></tr>
</form:phone-field>

</table>
