/** Table forms */
table {
	border-spacing: 0px;
	margin: 0px;
	padding: 0px;
}

table.form {
	float: left;
	border: 1px solid #D1D1D1;
	border-collapse: collapse;
}

table.form tr td:first-child {
	background-color: #FEFDFB;
}

table.form tr:first-child td {
	padding-top: 6px;
}

table.form tr td {
	background-color: #F6F2DA;
	padding-bottom: 6px;
	padding-left: 12px;
	padding-right: 12px;
}

/** Buttons */
input.button1,input.button2,input.button3,input.button4,input.button5 {
	border: none;
	cursor: pointer;
	height: 25px;
	padding-top: 0px;
	vertical-align: top;
}

.button1 {
	background: url(http://demo.catalogxs.com/images/button-47.gif)
		no-repeat 50% 50%;
	width: 47px;
}

.button1,.button2,.button3,.button4,.button5 {
	color: white;
	float: left;
	font-size: 9px;
	font-weight: bold;
	height: 18px;
	letter-spacing: -1px;
	padding-top: 7px;
	text-align: center;
	text-decoration: none;
}

/** Planning table */
.planning-chart {
	border: 1px solid blue;
	border-collapse: collapse;
	position: relative;
}

.planning-chart .left {
	background-color: #e5e0e0;
	border-right: 2px solid blue;
	float: left;
}

.planning-chart .header {
	font-weight: bold;
}

.planning-chart .group-header {
	background-color: white;
}

.planning-chart td {
	border: 1px solid gray;
	width: 20px;
}

.planning-chart .group-header td {
	border-top: none;
	border-right: 1px solid gray;
	position: relative;
}

.planning-chart .bar {
	border: 1px solid gray;
	background-color: red;
	height: 12px;
	width: 80px;
	position: absolute;
	bottom: 3px;
}