website.name=Xingraphics Web Shop
website.server=xingraphics.catalogxs.com
website.path=
website.parents=classpath:claro.cms.webshop.website
website.components=claro.cms.webshop.WebshopComponent
entitymanager.eclipselink.jdbc.driver = org.postgresql.Driver
entitymanager.eclipselink.jdbc.url = jdbc:postgresql:postgres
entitymanager.eclipselink.jdbc.user = postgres
entitymanager.eclipselink.jdbc.password = postgres