    <div id="page_header"> 
      <a href="/"><div class="page_logo"></div><span class="page_title">Your Shop</span></a>
      
      <div style="align:center">
      <lift:msgs>
        <lift:notice_class>page_messages</lift:notice_class>
        <lift:notice_msg>&#160;</lift:notice_msg>
      </lift:msgs>
      </div>
		  <webshop:current-user>
      <div class="page_login">
        Welcome, <user:name/>
        &#160;<a href="/userinfo">settings</a>
        &#160;<webshop:logout-link>logout</webshop:logout-link>
       </div>
       </webshop:current-user>
       <div class="header_links">
       <a href="/en"><img src="/images/flag-uk.png"/></a>
       <a href="/de"><img src="/images/flag-de.png"/></a>
       <a href="/es"><img src="/images/flag-es.png"/></a>
       <img src="/images/icon_key.gif"/>
      <a href="/login">login</a>
       <img src="/images/cart.png"/>
      <a href="/cart">shopping cart</a>
       </div>
       <div class="search_box">    
       <webshop:search-form form="POST"> 
      <table> 
        <tr> 
          <td><search:search-string class="formfield searchfield"/></td> 
          <td><search:submit class="formbutton"/></td> 
        </tr> 
      </table> 
    </webshop:search-form> 
		</div>
    </div>