website.path=/catalog
website.components=claro.cms.webshop.WebshopComponent,claro.cms.catalog.CatalogComponent
entitymanager.eclipselink.jdbc.driver = org.postgresql.Driver
entitymanager.eclipselink.jdbc.url = jdbc:postgresql:postgres
entitymanager.eclipselink.jdbc.user = postgres
entitymanager.eclipselink.jdbc.password = postgres