
/* Standaard instellingen */
body {margin:0px;padding:0px;}
div,td,p {text-align:left;font:inherit;}
img {border:none;}
table {border-collapse:collapse;}
table,tr,td {margin:0px;padding:0px;font:inherit; font-size:inherit;}

a {text-decoration:none;}
a:hover {text-decoration: underline;}


/* Terugkerende elementen */
body {
  font-family:Arial;
  font-size:11px;
  line-height:14px;
  text-align:center;
  background-image:url("images/body_background.jpg");
  background-repeat: repeat-x;
  background-color:#E6E7E9;
}

.add_to_cart {
	float:right;
	padding: 8px 12px;
	font-size: 12px;
	text-decoration: none;
	white-space:nowrap;
	line-height:20px;
	border: 1px solid #999;
	color: #4D4D4D;
	background: #FC0 url(images/bg_d01.gif) repeat-x 0px 50%;
}