<web-app>
	<filter>
		<filter-name>CmsFilter</filter-name>
		<display-name>Cms Filter</display-name>
		<filter-class>claro.cms.CmsServletFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>CmsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<context-param>
		<param-name>websites</param-name>
		<param-value>classpath:claro.tetterode.webshop.website</param-value>
	</context-param>
</web-app>