website.name=Tetterode Web Shop
website.server=tetterode.catalogxs.com
website.path=
website.parents=classpath:claro.cms.webshop.website
website.components=claro.cms.webshop.WebshopComponent
website.locales=en,de,es

ail.smtp.from=catalogxs@gmail.com
mail.smtp.host=smtp.gmail.com
mail.smtp.user=catalogxs@gmail.com
mail.smtp.password=tpacoh18

entitymanager.eclipselink.cache.shared.default=false

