
/* Standaard instellingen */
body {margin:0px;padding:0px;}
div,td,p {text-align:left;font:inherit;}
img {border:none;}
table {border-collapse:collapse;}
table,tr,td {margin:0px;padding:0px;font:inherit; font-size:inherit;}
thead {line-height: 10pt;}

a {text-decoration:none;}
a:hover {text-decoration: underline;}

span.error {
	color: red;
}

/* Terugkerende elementen */
body {
  font-family:Arial;
  font-size:11px;
  line-height:14px;
  text-align:center;
  background-image:url("images/body_background.jpg");
  background-repeat: repeat-x;
  background-color:#E6E7E9;
}

#page {
  position:relative;
  width:965px;
  margin:auto;
  min-height:800px;
  _height:800px;
}

#page_center {
  background-image:url("images/page_background.jpg");
  background-repeat:no-repeat;
  background-color:#f1f1f1;
  height:700px;
  width:100%;
}

#page_middle {
  width: 558px;
}	

.page_logo {
  margin-left:10px;
  height: 56px;
  width:181px;
  background-image:url("images/logo_tetterode_2009.jpg");
  background-repeat:no-repeat;
  background-position:0px 10px;
  cursor:pointer;
}

.page_logo_intranet {
  position:absolute;
  left:206px;
  width:400px;
  height:56px;
  background-image:url("images/intranet.jpg");
  background-repeat:no-repeat;
}

.page_messages {
  position: absolute;
  display:inline;
  left: 350px;
  top:30px;
  padding:3px 5px;
  font-size:12px;
  font-weight: bold;
  color:#032D67;
  background-color:gold;
  text-align: center;
}

.page_messages ul, .page_messages li {
  padding-left:0;
  display:inline;
  list-style:none;
}

.page_login {
  position:absolute;
  right:0px;
  top:0px;
  background-image:url("images/icon_key.gif");
  background-repeat:no-repeat;
  height:20px;
  margin-top:20px;
  padding-top:5px;
  padding-left:25px;
  padding-right:21px;
  font-size:11px;
  font-weight: bold;
  color:#032D67;
}
.page_login a {
  color: #032D67;
  text-decoration:underline;
}

.homepage_middle {
  width:558px;
}

.homepage_image {
  position:relative;
  margin-top:16px;
}

.homepage_slideshow {
  position:absolute;
  width:558px;
  height:320px;
  overflow:hidden;
}
.homepage_slideshow img {
}
.homepage_slideshow div {
  position:absolute;
  overflow:hidden;
  left:0px;
  top:0px;
  width:558px;
  height:320px;
  color:#fff;
}
.homepage_slideshow a {
  color: #007AC3;
  text-decoration:none;
}
.homepage_slideshow a:hover {
  text-decoration:underline;
}

.homepage_news {
  margin-top:350px;
}
.homepage_news td {
  padding-left:15px;
  padding-left:expression((this.parentNode.firstChild == this ? 0 : 15)+'px');
  width:176px;
  font-size:13px;
  line-height:17px;
}
.homepage_news td:first-child {
  padding-left:0px;
}

.homeage_news .image {
  text-align:center;
}
.homepage_news .text {
  color: #848889;
  margin-top:8px;
}


.homepage_nieuws_midden {
  margin-top:20px;
  font-size:12px;
}
.homepage_nieuws_midden .agadate {
  clear: both;
  color:#929397;
  margin-bottom:2px;
  line-height:1.6em;
  font-weight:bold;
}
.homepage_nieuws_midden .agatitle {
  border-top:1px solid #aaa;
  padding-top:4px;
  padding-bottom:4px;
}
.homepage_nieuws_midden .agatitle a {
  color: #032D67;
  font-weight:bold;
}
.homepage_nieuws_midden .agatitle a:hover {
}

.homepage_nieuws_midden .agatext {
  color:#929397;
  margin-bottom:10px;
  line-height:1.6em;
}
.homepage_nieuws_midden .agatext a {
  color:#929397;
  text-decoration:underline;
}

.homepage_nieuws_midden .agatext .agamore:hover {
  color: #F41651;
}


.side_bar {
  position:relative;
  background-image:url("images/page_menu_background.jpg");
  background-repeat:no-repeat;
  background-color:#fff;
  min-height:722px;
  _height:722px;
  width:181px;
  margin:10px;
  margin-top:15px;
  margin-bottom:4px;
  padding-top:10px;
  padding-bottom:10px;
}

.side_bar_footer {
  position:absolute;
  bottom:-1px;
  background-image:url("images/page_menu_background_footer.jpg");
  background-repeat:no-repeat;
  background-color:#F0F0F0;
  height:8px;
  line-height:0px;
  font-size:1px;
  width:181px;
}

.page_footer {
  background-image:url("images/page_background_footer.jpg");
  background-repeat:no-repeat;
  background-color:#E6E7E9;
  height:45px;
  pading-left: 55px;
  overflow:hidden;
}

.page_footer table {
  margin-top:10px;
}
.page_footer table tr td {
  font-size:9px;
  font-weight:bold;
  color:#929397;
  white-space:nowrap;
  padding:11px;
  *padding:15px;
}
.page_footer table tr td a {
  color:#929397;
  text-decoration:none;
}
.page_footer table tr td a:hover {
    text-decoration:underline;
}


#navigatie {
  width:181px;
  min-height:80px;
  _height:80px;
  border-bottom:3px solid #fff;
  padding-bottom:10px;
  margin-bottom:10px;
  line-height: 14px;
}

.side_bar_panel {
  padding:10px;
  padding-top:5px;
  padding-bottom:5px;
}
.side_bar_panel .items {
  padding-bottom:0px;
  margin-top:8px;
  border-top:1px solid #D9DBDA;
  border-bottom:1px solid #D9DBDA;
  color:#929397;
}
.side_bar_panel .items a {
  color:#929397;
  text-decoration:underline;
}
.side_bar_panel .items a:hover {
  color: #F41651;
}
.side_bar_panel .items .title {
  margin-top:8px;
  font-weight:bold;
  font-size:12px;
  color:#717171;
}
.side_bar_panel .items .text {
  margin-bottom:10px;
}

.side_bar_panel td {
	padding-bottom: 5px;
}

.page_searchbox {
  width:161px;
  height:49px;
  padding:10px;
  padding-top:5px;
  padding-bottom:6px;
  overflow:hidden;
}

.side_bar hr {
  border: none;
  border-bottom:3px solid #fff;
}

.page_searchbox form {
  padding:0px;
  margin:0px;
}

.page_searchbox .formfield {
  color:#032D67;
  font-size:11px;
  border:0px;
  margin:0px;
  padding:4px;
  padding-top:3px;
  padding-bottom:3px;
}

.page_searchbox .searchfield {
  width:93px;
  margin-right:5px;
}
.page_searchbox .newsfield {
  width:70px;
  margin-right:5px;
}

.page_searchbox .formbutton {
  background-color:#032D67;
  color:#fff;
  font-size:12px;
  border:0px;
  margin:0px;
  padding:2px;
  padding-top:2px;
  *padding-top:1px;
  padding-bottom:1px;
  cursor:pointer;
}
.page_searchbox .newsbutton {
  *width:76px;
}

.loginpanel .passwordfield {
	width: 86px;
}

.loginpanel .formbutton {
	padding: 2px;
}

div.bread_crumb {
  padding-top:13px;
}

div.bread_crumb a {
  font-size:12px;
  line-height:12px;
  padding-left:0px;
  color:#444;
  cursor: pointer;
}

.kruimelpad a {
  color:#444;
  text-decoration:underline;
}
.kruimelpad a:hover {
  text-decoration:underline;
  cursor: pointer;
}

.page_content {
  min-height:300px;
  _height:300px;
  padding-left:23px;
  padding-right:23px;
  font-size:12px;
}

.page_content h1 {
	font-weight: normal;
  font-size:18px;
  line-height:22px;
  color:#032D67;
  padding-bottom:15px;
  margin-bottom:7px;
  border-bottom:1px dashed #000;
}

h2 {
	font-weight: bold;
  font-size:12px;
  color:#032D67;
  padding-top:15px;
  margin-top:7px;
  border-bottom:1px solid #929397;
  clear: both;
color: #929397;
line-height: 1.6em;
margin-bottom: 2px;
}

.side_bar ul {
	padding-left: 14px;
}

.side_bar li {
	list-style: none;
}

.side_bar h2 {
	border-bottom: none;
	padding: 0;
	margin: 0;
	color: #032D67;
}

 .side_bar li.active h2 {
	color: red;
}
.side_bar li.active li h2 {
	color: #032D67;
}


.side_bar h1 {
  color:#032D67;
  font-weight:bold;
  margin-top: 0px;
font-family: Arial, Helvetica;
font-size: 13px;
font-style: normal;
font-variant: normal;
font-weight: bold;
	white-space: nowrap;	
}

.page_content {
  line-height:22px;
}

.page_content a {
  color:#EC1B52;
  text-decoration:none;
}
.page_content a:hover {
  text-decoration:underline;
}

.site_content p {
  padding:0px;
  margin:0px;
  margin-bottom:1em;
  line-height:22px;
}

.page_contentimage {
  float:right;
  margin:5px;
}


.page_content .sublist {
  margin-top:20px;
}

.sub_item {
  padding-top:10px;
  margin-bottom:20px;
  clear:both;
	margin-top: 10px;
}

.sub_item .left {
  width:204px;
  border-right:3px solid #e6e6e6;
  padding-right:10px;
  font-size:15px;
  line-height:20px;
  color:#758FA8;
  font-weight:bold;
}

.sub_item .left a {
  color:#758FA8;
  text-decoration:none;
}
.sub_item .left a:hover {
  text-decoration:underline;
}

.sub_item .right {
  padding-left:20px;
  color:#5D5D5D;
  line-height:1.8em;
  display: block;
}
.sub_item .right p {
  margin:0px;
  padding:0px;
}

.sub_item .right a {
  color:#EC1B52;
  text-decoration:none;
}
.sub_item .right a:hover {
  text-decoration:underline;
}




.formbutton {
  background-color:#032D67;
  color:#fff;
  font-size:12px;
  border:0px;
  margin:0px;
  padding:2px;
  padding-top:2px;
  *padding-top:1px;
  padding-bottom:1px;
  cursor:pointer;
}

.formfield {
  color:#032D67;
  font-size:11px;
  border:0px;
  margin:0px;
  padding:4px;
  padding-top:3px;
  padding-bottom:3px;
}

#contactformulier {
  font-size:11px;
  font-weight:bold;
}

#contactformulier td {
  padding:2px;
  color: #333333;
}

.button-bar {
	float: right;
	text-align: right;
	padding: 8px;
}

.button-bar .form-button {
  background-color:#032D67;
  color:#fff;
  font-size:12px;
  border:0px;
  margin:0px;
  padding:4px;
  padding-top:2px;
  *padding-top:1px;
  padding-bottom:1px;
  cursor:pointer;
}

.form-button.disabled{
  background-color:#aaa;
  color : #fff;
}


#contactformulier .formbutton {
  background-image:url("images/button_background.gif");
  background-repeat:no-repeat;
  background-position:0px;
  background-color:transparent;
  color:#000;
  font-size:11px;
  font-weight:bold;
  border:0px;
  padding-left:20px;
  *padding-left:10px;
  padding-right:5px;
  padding-top:0px;
  padding-bottom:0px;
  cursor:pointer;
}

.input_breed {
  background-image: url('images/input-breed.jpg');
  background-position: left top;
  background-repeat: no-repeat;
}
.input_breed input {
  margin: 3px;
  width: 360px;
  border: none;
  background:transparent;
  padding: 2px;
  font-size:11px;
}

.area_breed {
  background-image: url('images/area-breed.jpg');
  background-position: left top;
  background-repeat: no-repeat;
}
.area_breed textarea {
  margin: 3px;
  margin-top: 2px;
  width: 364px;
  height: 91px;
  border: none;
  background: transparent;
  padding: 2px;
  font-size:11px;
}
.input_smal {
  background-image: url('images/input-smal.jpg');
  background-position: left top;
  background-repeat: no-repeat;
}
.input_smal input {
  margin: 3px;
  width: 108px;
  border: none;
  background: transparent;
  padding: 2px;
  *padding-top:1px;
  *padding-bottom:3px;
  font-size:11px;
}

.input_select {
  background-color:#efefef;
}

.image_left {
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.image_right {
  float: right;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.homepage_nieuws_midden .image_left {
  margin-right: 15px;
  margin-bottom: 8px;
}

.homepage_nieuws_midden .image_right {
  margin-left: 15px;
  margin-bottom: 8px;
}
.add_to_cart {
	float:right;
	padding: 4px 6px;
	font-size: 12px;
	text-decoration: none;
	white-space:nowrap;
	line-height:20px;
	border: 1px solid #999;
	color: #4D4D4D;
	background: #FC0 url(images/bg_d01.gif) repeat-x 0px 50%;
}

.product_table {
	border-spacing: 10pt 10pt;
}

.product_table th {
	text-align: left;
}
.product_table td {
	padding-right: 10px;
}

.product_table .id_col {
	width: 10%;
}
	
.product_table .desc_col {
	width: 75%;
}
	
.product_table .price_col {
	text-align: right;
	width:15%;
	padding-right: 0px;
}

#right-bar {
	left: -10px;
}

.promotion {
  position:relative;
  background-image:url("images/promotion_panel.png");
  background-repeat:no-repeat;
  margin-top:15px;
  margin-bottom:4px;
  padding:0px;
  padding-right:-14px;
	position: relative;
	width: 558px;
	height: 130px;
}
.product {
  position:relative;
  background-image:url("images/product_panel.png");
  background-repeat:no-repeat;
  margin-top:15px;
  margin-bottom:4px;
  padding:14px;
	position: relative;
	width: 144px;
	height: 161px;
	float:left;
	line-height: 1.2em;
}

/** Added for Zomeractie and Besparen met Anicolor */
.page_menu_artgrp {
padding-bottom: 5px;
padding: 10px 10px 5px;
}
.page_menu_artgrp .description {
color: #032D67;
font-size: 14px;
font-weight: bold;
}
.page_menu_artgrp .items .title {
color: #717171;
font-size: 12px;
font-weight: bold;
margin-top: 8px;
}
.page_menu_artgrp .items .text {
margin-bottom: 10px;
}
.page_menu_artgrp .items {
border-bottom: 1px solid #D9DBDA;
border-top: 1px solid #D9DBDA;
color: #929397;
margin-top: 8px;
padding-bottom: 0px;
}

/** FORMS from demo */
.form table {
	border: 1px solid #D1D1D1;
	border-collapse: collapse;
	margin-left: -2px
}

.form table tr:first-child td {
	padding-top: 6px;
}

.form tr.error td span {
	position: relative;
	top: -6px;
	padding-left: 4px;
}

.form table tr td:first-child {
	background-color: #f8f8f8;
}
.form table tr td {
	background-color: #E6E7E9;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 6px;
}

.form .messages {
	margin-top: 0px;
}

.form table {
	float: left;
}

.form .infobox {
	padding-right: 24px;
	float: left;
	
}

.button , a.button {
	border: 1px solid #444444;
	lin-height: 20px;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	background-color: #BB3333;
	color: white;
	font-weight: bold;
	text-decoration: none;
}	
a.button:hover {
	text-decoration: none;
}