website.name=Tetterode Web Shop
website.server=tetterode.catalogxs.com
website.locales=en,de,es

website.components=claro.cms.webshop.WebshopComponent,claro.cms.catalog.CatalogComponent

entitymanager.eclipselink.jdbc.driver = org.postgresql.Driver
entitymanager.eclipselink.jdbc.url = jdbc:postgresql:postgres
entitymanager.eclipselink.jdbc.user = postgres
entitymanager.eclipselink.jdbc.password = postgres

mail.smtp.port=587
mail.smtp.from=catalogxs@gmail.com
mail.smtp.host=smtp.gmail.com
mail.smtp.user=catalogxs@gmail.com
mail.smtp.password=tpacoh18

entitymanager.eclipselink.cache.shared.default=false

