website.name=Tetterode Web Shop
website.server=tetterode.catalogxs.com
website.path=
website.parents=classpath:claro.cms.webshop.website
website.components=claro.cms.webshop.WebshopComponent
website.locales=en,de,es

mail.smtp.from=mailer@catalogxs.com
mail.smtp.host=smtp.gmail.com
mail.smtp.user=ruud.diterwich@gmail.com
mail.smtp.password=dttwts18

