<div class="product">
  <!-- img src="images/specialoffer.png" style="position:relative;top:0;right:0" /-->
     <div style="float:right"><product:value property="Image" height="60px"/></div>
    <p><product:value property="Description"/>
    <br/><product:link>More info &gt;&gt;</product:link></p>
  <div>
    <webshop:shopping-cart>
    <shopping-cart:add>
      <span class="add_to_cart">Add to Cart</span>
    </shopping-cart:add>
    </webshop:shopping-cart>
    <p><b><product:value property="Price"/></b></p>
  </div>
</div>
