<div id="filters" class="boxA">
<div class="title">
<h1>Filters</h1>
</div>
<div class="content"><webshop:filtering>
  <filtering:filters>
    <ul class="list3">
      <list:repeat>
        <li><filter:title /></li>
      </list:repeat>
    </ul>
  </filtering:filters>
  <ul class="links">
    <webshop:current-category>
      <category:is-filtered-on not="true">
        <li>
          <category:add-filter-link>Add filter: Category <category:name /></category:add-filter-link>
        </li>
      </category:is-filtered-on>
    </webshop:current-category>
    <webshop:current-search-string>
      <li>
        <webshop:add-search-filter-link>Add filter: Search for '<object:value/>'</webshop:add-search-filter-link>
      </li>
    </webshop:current-search-string>
    <filtering:filters>
      <list:first>
        <li>
          <filtering:clear-link>Clear all filters</filtering:clear-link>
        </li>
      </list:first>
    </filtering:filters>
  </ul>
</webshop:filtering></div>
</div>
