<li>
  <list:first><attr:set name="class" value="first" /></list:first>
  <category:is-selected>
  	<attr:append name="class" value="selected" />
  	<category:parent-link><category:value property="Name" /></category:parent-link>
  <object:none>
	  <category:link><category:value property="Name" /></category:link>
  </object:none>
  </category:is-selected>
  <category:is-on-trail>
    <category:sub-categories>
    
      <ul><list:repeat>
        <template:include template="templates/navigation-node" />
      </list:repeat></ul>
    </category:sub-categories>
  </category:is-on-trail>
</li>
