<div id="sidebar">
		<div id="box2" class="boxA">
			<div class="title">
				<h1>Order Overview</h1>
			</div>
			<div class="content">
		      <table>
				  <webshop:shopping-cart>
				    <shopping-cart:items>
  			            <tr><td colspan="2"><h3>Products</h3></td></tr>
				        <list:repeat>
				          <tr>
				            <item:product><td><div style="width: 160px; white-space: nowrap; overflow: hidden;"><product:value property="Name" style="white-space: nowrap; " /></div></td></item:product>
				            <td><div style="width: 60px; text-align: right;"><item:total-price /></div></td>
				          </tr>
				        </list:repeat>
				        <shopping-cart:total-prices>
				          <tr>
				            <td colspan="1"></td>
				            <td class="total" style="border-top: 1px solid #726936; text-align: right;"><b><total-price:format /></b></td>
				          </tr>
				        </shopping-cart:total-prices>
				    </shopping-cart:items>
  			            <tr><td></td></tr>
  			            <tr><td colspan="3"><h3>Shipping</h3></td></tr>
				  </webshop:shopping-cart>
		      </table>
			</div>
		</div>
</div>