<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="default.css" rel="stylesheet" type="text/css" />
<link href="layout.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
 @import url("layout.css");
-->
</style>
</head>
<body>
	<webshop:promotions>
<div class="any" list:first="class=first" list:last="class=last"></div>
		</webshop:promotions>
<div id="header">
	<div id="logo">
		<h1>WebsiteName.com</h1>
	</div>
	<!-- end #logo -->
	<div id="menu">
		<ul>
			<li class="first"><a href="#" accesskey="1" title="">Customer Service</a></li>
			<li><a href="#" accesskey="2" title="">Account Login</a></li>
			<li><a href="#" accesskey="3" title="">Help and Information</a></li>
			<li><a href="#" accesskey="4" title="">Contact Us</a></li>
		</ul>
	</div>
	<!-- end #menu -->
</div>
<!-- end #header -->
<div id="forms">
	<div id="search">
		<form method="get" action="">
			<fieldset>
			<input type="text" id="query" name="query" value="" />
			<input type="submit" id="search-submit" value="Search" />
			<a href="#">Advanced Search</a>
			</fieldset>
		</form>
	</div>
	<!-- end #search -->
	<div id="currency">
		<form method="get" action="">
			<fieldset>
			<select id="unit" name="unit">
				<option value="USD">U.S. Dollar</option>
			</select>
			<input type="submit" id="currency-submit" value="Change Currency" />
			</fieldset>
		</form>
	</div>
	<!-- end #currency -->
	<div id="cart-items">
		<p><span>You have <b>5</b> items in your cart</span> <a href="#" class="button">View Cart</a></p>
	</div>
	<!-- end #cart-items -->
</div>
<!-- end #forms -->
<div id="categories">
	<ul>
		<!--
			Use class="active" to permanently highlight a given menu item
		-->
		<webshop:navigation>
			<list:group>
				<list:first>
					<li group:first="class=first"><category:link><category:category-value property="Name"/></category:link></li>
				</list:first>
				<list:skip-first>
					<li group:first="class=group-first"><category:link><category:category-value property="Name"/></category:link></li>
				</list:skip-first>
			</list:group>
		</webshop:navigation>
	</ul>
</div>
<!-- end #categories -->
<div id="banner"><a href="#"><img src="images/homepage08.jpg" alt="" width="900" height="131" /></a></div>
<!-- end #banner -->
<div id="page">
	<div id="content">
		<div id="box1" class="boxA">
			<div class="title">
				<h1>Featured Items</h1>
			</div>
			<div class="content">
				<ul class="list2">
					<webshop:promotions>
					<li list:even="class=alt">
						<promotion:product>
						<p class="image"><a href="#"><product:value property="Image" height="84px" class="border" /></a></p>
						<h3><a href="#"><product:value property="Description"/></a></h3>
						<p><product:value property="Synopsis"/>Delenit augue duis dolore sed feugait eleifend option.</p>
						<p><a href="#" class="add">Add to Cart</a> <b><product:value property="Price"/></b></p>
						</promotion:product>
					</li>
					</webshop:promotions>
				</ul>
			</div>
		</div>
		<!-- end #box1.boxA -->
	</div>
	<!-- end #content -->
	<div id="sidebar">
		<div id="box2" class="boxA">
			<div class="title">
				<h1>Blandit Consequat</h1>
			</div>
			<div class="content">
				<ul class="list1">
					<li class="first"><a href="#">Lorem ipsum dolor amet</a></li>
					<li><a href="#">Augue duis dolore sed</a></li>
					<li><a href="#">Feugiat elefeind consequat</a></li>
					<li><a href="#">Sed volutpat etiam tempus</a></li>
					<li><a href="#">Nullam sed volutpat</a></li>
					<li><a href="#">Aliquam sit nonummy</a></li>
					<li><a href="#">Consequat etiam dolore</a></li>
				</ul>
			</div>
		</div>
		<!-- end #box2.boxA -->
		<div id="box3" class="boxA">
			<div class="title">
				<h1>Volutpat Sed Tempus</h1>
			</div>
			<div class="content"><a href="#"><img src="images/homepage12.jpg" alt="" width="222" height="138" /></a></div>
		</div>
		<!-- end #box3.boxA -->
	</div>
	<!-- end #sidebar -->
	<div style="clear: both;">&#160;</div>
</div>
<!-- end #page -->
<div id="footer">
	<p class="links"><a href="#">Privacy Policy</a> &#160;&#160;&#160;|&#160;&#160;&#160; <a href="#">Legal Information</a> &#160;&#160;&#160;|&#160;&#160;&#160; <a href="#">Terms of Use</a></p>
	<p class="legal">Copyright (c) 2008 Websitename.com. All rights reserved.</p>
</div>
<!-- end #footer -->
</body>
</html>
