<webshop:current-user>
	<template:content/>
	<object:none>
	  <div class="title">
		 <h1>Login</h1>
	  </div>
	  <div class="content">
	    <webshop:login-form class="form">
    	  <div class="infobox">
		  	<p>First visit?<br/><a href="/register">register</a></p> 
		  	<p>Forgot password?<br/><a href="/resetpassword">reset password</a></p> 
    	  </div>
	      <table> 
	        <form:email-field><template:include template="templates/form-field">Email</template:include></form:email-field>
	        <form:password-field><template:include template="templates/form-field">Password</template:include></form:password-field>
        	<tr><td></td><td>
		      	<ul class="messages">
		      		<form:form-errors><li><span class="error"><error:message/></span></li></form:form-errors> 
		        </ul>
        	</td></tr><tr><td></td><td>
				<div class="button-bar">
					<form:login-button class="button1">Login</form:login-button>
				</div>
        	</td></tr></table>
		</webshop:login-form>
		  <div style="clear: both"/>
		</div>
	</object:none>
</webshop:current-user>